<h1>Usuario <small>Nombre de Usuario</small></h1>
<hr>
<div class="col">
  <div class="col">
    <button routerLink="/usuarios"
            class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster container">
  <div class="col">
    <form>
      <div class="form-group">
        <label> Firebase ID
          <input type="text" disabled="disabled"
                 class="form-control"
                 placeholder="Firebase ID">
        </label>
        <small class="form-text text-muted">
          Este Campo es autogenerado
        </small>

        <div class="form-group">
          <label>Nombre
            <input type="text" required
                   class="form-control"
                   placeholder="Nombre del Usuario">
          </label>
        </div>

        <div class="form-group">
          <label>Edad
            <input type="text"
                   class="form-control"
                   placeholder="Edad del Usuario">
          </label>
        </div>

        <div class="form-group">
          <label>Estado Civil</label>
          <br>
          <button type="button" class="btn btn-outline-success w-50">
            <i class="fa fa-smile-wink"></i>
            Soltero/a
          </button>
          <button type="button" class="btn btn-outline-danger w-50">
            <i class="fa fa-dizzy"></i>
            Casado/a
          </button>
        </div>

        <hr>
        <div class="form-group text-center">
          <button type="aubmit" class="btn btn-primary w-25">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
